In [2]:
import pandas as pd

# Задание 1

In [27]:
movies = pd.read_csv('10._Основы_pandas/Файлы к заданию №1/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [28]:
ratings = pd.read_csv('10._Основы_pandas/Файлы к заданию №1/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [47]:
movies_rates = movies.merge(right = ratings[ratings.rating == 5.0], how = 'inner', on = 'movieId', validate = '1:m')
movies_rates = movies_rates[['movieId', 'title', 'rating']].groupby(['movieId', 'title']).count().reset_index()
movies_rates.sort_values(by = 'rating', ascending = False, inplace = True)
print(f"Больше всего оценок 5.0 выставлено фильму '{movies_rates.head(1)['title'].to_list()[0]}'")

Больше всего оценок 5.0 выставлено фильму 'Shawshank Redemption, The (1994)'

# Задание 2

In [4]:
power = pd.read_csv('10._Основы_pandas/Файлы к заданию №2/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [127]:
power[ power['country'].str.contains(pat = 'lit', case = False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [129]:
power[ power['country'].str.contains(pat = 'lat', case = False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [130]:
power[ power['country'].str.contains(pat = 'est', case = False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [49]:
total_quantity = power[ 
        ((power['country'] == 'Lithuania') | (power['country'] == 'Latvia') | (power['country'] == 'Estonia')) & # Страны
        ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)) & # Категории
        (power['year'] >= 2005) & (power['year'] <= 2010) & # Годы
        (power['quantity'] > 0) # Исключение отрицательного потребления
]['quantity'].sum()
print(f"Суммарное потребление стран Прибалтики {total_quantity}")

Суммарное потребление стран Прибалтики 240580.0

# Задание 3

In [3]:
import html5lib

In [42]:
url = 'https://abuzov.com/tablicy-html'
tables = pd.read_html(io = url, attrs = {'class': 'table-primer'})
print(f'Страница содержит {len(tables)} таблиц(ы):')
currency_rates[1]

Страница содержит 2 таблиц(ы):

                    ФИО          Должность      Фото             Написать
0  Иванов Иван Иванович           Директор       NaN   Написать директору
1  Иванов Иван Иванович  Главный бухгалтер  Нет фото  Написать бухгалтеру